
<footer>

     
     <section class="footer">
      <a href="/home"><img src="/Assets/full_logo_white.png" alt="Mr Coffe"></a>
      <div class= "footer_text">
      <p>Suivez nous sur les réseaux sociaux !On vous attend !</p>
     </div>
     <div class="social_icon">
      <img src="/Assets/logo_linkedin.png" alt="Mr Coffe">
      <img src="/Assets/logo_twitter.png" alt="Mr Coffe">
      <img src="/Assets/logo_facebook.png" alt="Mr Coffe">
     </div>
    </section>

  </footer>