<header>
  <section class="Header">
  
  <section>
     <!-- Creating top left logo_blanc.png logo and beside this logo a heading, I called it as "<nav>"" in CSS file to set is position size,font etc) -->
  <nav>
       <a href="/home"><img src="/Assets/full_logo_white.png" alt="Mr Coffe"></a>
        <!-- Creating three links to other pages named "nav-links" class to call in CSS file fixing their position, color and font) -->
        <div class="nav-links">
         <ul>
          <li><a href="/"><b>HOME</b></a></li> 
         <li><a href="/users"><b>USERS</b></a></li> 
          <li><a href="/new"><b>NEW SCHEDULE</b></a></li>
       
          
         
        </ul>
        </div>
        </nav>
    </section>
  
    <!-- Created another section to place the the logo_dark inside the header class aligned it in the center and gave a header which is bigger than logo_blanc heading,
      I named a class logo-image and called it in CSS file to fix its position size, fonts and also for the padding top and bottom  -->
    <!--<section class="logo-image">
      <div style="text-align: center;">
     <img src="/Assets/logo_mrcoffee.png" alt="Mr Coffe">
    </div>
    </section>-->
  </section>
  </header>


 