<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
   <!--Header-->
   <%- include('../partials/header') %>
<body>
<section class="main-image">
    <div style="text-align: center;">
   <img src="/Assets/blue-cup.jpg" alt="Mr Coffe">
</div>
</section>
<section>
   <div class ="text-box">
    <h1><span>WELCOME</span>
        <span>TO</span>
        <span>OUR</span> 
        <span>SCHEDULE</span>
        <span>SITE</span> </h1>
  </div>
  </section>
  </body>
 
      <!--Footer-->
      <%- include('../partials/footer') %>
</body>

</html>